:root {
  --header-color-1: rgb(245, 189, 48);
  --header-color-2: rgb(245, 189, 48);
  --header-color-3: rgb(202, 137, 111);
  --header-color-4: darkslateblue;
  --link-color: rgb(214, 137, 42);
  --p-color: darkcyan;
  --body-background-color: lightgoldenrodyellow;
  --panel-background-color: lightyellow;
  --iframe-background-color: #9c1914;
}

body {
  font:
    16px "Nunito",
    sans-serif;
  color: black;
  background-color: lightgoldenrodyellow;
  background-color: var(--body-background-color);
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
header {
  text-align: center;
  background-color: var(--panel-background-color);
  background-image: url("toto\ la\ momposina\ black\ and\ white.avif");
  padding: 1.8rem;
  margin: 0 0 1rem 0;
  border-radius: 10px;
}
h1,
h2,
h3,
h4,
p {
  text-align: center;
}
h1 {
  margin: 3.75rem 0 2rem 0;
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--header-color-1);
  text-shadow:
    -2px -2px 0 rgb(135, 132, 132),
    /* Top-left shadow */ 2px -2px 0 rgb(135, 132, 132),
    /* Top-right shadow */ -2px 2px 0 rgb(135, 132, 132),
    /* Bottom-left shadow */ 2px 2px 0 rgb(135, 132, 132);
}
h2 {
  font-size: 1.75rem;
  color: var(--header-color-2);
  text-shadow:
    -2px -2px 0 rgb(135, 132, 132),
    /* Top-left shadow */ 2px -2px 0 rgb(135, 132, 132),
    /* Top-right shadow */ -2px 2px 0 rgb(135, 132, 132),
    /* Bottom-left shadow */ 2px 2px 0 rgb(135, 132, 132);
}
h3 {
  font-size: 1.75rem;
  color: var(--header-color-3);
  padding: 1rem;
  border-top: 5px double black;
  border-bottom: 5px double black;
  margin-bottom: 2rem;
}
h4 {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--header-color-4);
}
p {
  color: var(--p-color);
  size: 1rem;
}
a {
  color: var(--link-color);
  font-size: 0.875rem;
}
.artist-info,
.lyrics,
.stream {
  text-align: center;
  background-color: var(--panel-background-color);
  padding: 1rem 0.5rem;
  margin: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  p {
    width: 90%;
    margin: 1rem auto;
  }
}
.artist-info {
  img {
    width: 80%;
    height: auto;
    margin: 1rem auto 0 auto;
  }
}
.stream {
  margin-bottom: 0;
  padding-bottom: 0;
  h3 {
    text-align: center;
    padding: 1rem;
    border-top: 5px double black;
    border-bottom: 5px double black;
    margin-bottom: 2rem;
  }
  div {
    padding: 0;
  }
  figure {
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    padding: 0;
    a {
      display: block;
    }
  }
  figcaption {
    text-decoration: underline;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  .img-container {
    aspect-ratio: 1;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
  }
  /*
  set the background color of the container to the same color as the iframe body
  note: iframe height is 352px
  */
  .iframe-container {
    border-radius: 1rem;
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    height: auto;
    min-height: 352px;
    aspect-ratio: 1;
    background-color: var(--iframe-background-color);
  }
  iframe {
    width: 100%;
    height: 352px;
    border: none;
  }
}
footer {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 5px double black;
}
